body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.button{
    padding: 10px 40px;
    background-image: linear-gradient(tomato,orange);
    text-decoration: none;
    color: white;
    font: 3em;
    border-radius: 5px;
    
}
.section-heading{
    font-size: 50px;
    margin-bottom: 0px;
}
.top-banner{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    height: 60%;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(213, 187, 14);
    padding:1% 30%;
}
#banner-title{
    color:rgb(22, 172, 82);
    font-size: 45px;
    font-weight:bolder;
}
.donation-section{
    text-align: center;
    padding:0% 25%;
}
.donate-process{
    display: flex;
}
.amount{
    padding: 40px 40px;
    background-color: rgb(200, 221, 243);
    margin: 2px;
    border-radius: 5px;
}
.amount p{
    font-size: 25px;
}
#selected-amount{
    border: 3px solid tomato;
    background-color: white;
}
.low-brightness{
    opacity: 0.5;
}
#donate-plan{
    text-align: center;
    padding: 10%;
}
.our-services{
    padding: 10% 5%;
    background-image: linear-gradient(aqua,gray);
    margin: 3px;
    border-radius: 10px;
    text-align: left;
}

